/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* DESIGN TOKENS */
:root {
  --color-white: #fff;
  --color-gray_01: #a4adac;
  --color-gray_02: #d6dbdb;
  --color-gray_03: #e8edee;
  --color-gray_04: #f2f6f6;
  --color-black: #1d1d1b;
  --color-orange: #ff5900;
  --color-dark_orange: #e0570e;
  --color-error: #ff4026;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-btn: 14px;
  --font-size-txt-3: 14px;
  --font-size-txt-2: 18px;
  --font-size-txt-1: 22px;
  --font-size-h3: 24px;
  --font-size-h2: 32px;
  --font-size-h1: 80px;
}

@media (max-width: 768px) {
  :root {
    --font-size-txt-2: 12px;
    --font-size-txt-1: 14px;
    --font-size-h3: 16px;
    --font-size-h2: 28px;
    --font-size-h1: 52px;
  }
}

@media (max-width: 320px) {
  :root {
    --font-size-txt-2: 14px;
    --font-size-txt-1: 16px;
    --font-size-h3: 20px;
    --font-size-h2: 24px;
    --font-size-h1: 36px;
  }
}

/* COMMON */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: var(--font-size-txt-1);
  color: var(--color-black);
  background-color: var(--color-gray_03);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-black);
}

a:hover {
  color: var(--color-orange);
}

a:active {
  color: var(--color-dark_orange);
  text-decoration: underline;
}

img {
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  color: var(--color-black);
  font-size: var(--font-size-txt-2);
  line-height: 22px;
}
