.wrapper {
  position: fixed;
  width: 100%;
  top: 32px;
  z-index: 100;
}

.header {
  margin: 0 -30px;
  padding: 14px 30px;
  transition: box-shadow 0.3s ease;
}

.nav {
  gap: 64px;
}

.nav_item {
  padding: 10px 0;
}

.scrolled {
  background-color: var(--color-gray_03);
  box-shadow: 0px 5px 5px 0px rgba(164, 173, 172, 0.25);
}

.burgerMenu {
  display: none;
  position: absolute;
  top: 14px;
  right: 10px;
  z-index: 1000;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: -283px;
  height: 100vh;
  width: 100%;
  max-width: 283px;
  background-color: var(--color-white);
  transition: right 0.3s ease;
  z-index: 999;
}

.menuOpen {
  right: 0;
}

.active {
  color: var(--color-orange);
}

@media (max-width: 768px) {
  .wrapper {
    top: 20px;
  }
  .header {
    margin: 0;
    padding: 14px 10px;
  }
  .nav {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .icon {
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  .nav_item {
    padding: 10px 32px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    top: 0;
  }
  .header {
    padding: 16px 0;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
  .mobileMenu {
    right: -320px;
    max-width: 100%;
  }
  .mobileMenu.menuOpen {
    right: 0;
  }
  .logo {
    z-index: 1000;
    max-width: 113px;
  }
}