.wrapper {
  gap: 40px;
}

.question {
  flex: 1;
  height: 216px;
  padding: 14px 18px;
  border-radius: 12px;
  border-color: var(--color-gray_01);
  background: transparent;
  resize: none;
}

.question:focus,
.email:focus {
  border-color: var(--color-black);
}

.form_section {
  flex: 1;
  gap: 48px;
}

.inputs_wrapper {
  gap: 32px;
}

.email {
  width: 100%;
  padding: 10px 0 16px;
  align-items: center;
  color: var(--color-black);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-gray_01);
}

.email:invalid {
  border-color: var(--color-error);
}

.email:invalid + .error_message {
  display: block;
}

.error_message {
  position: absolute;
  top: 54px;
  left: 0;
  display: none;
  color: var(--color-error);
}

.agreement_wrapper {
  gap: 8px;
}

.agreement {
  margin-top: 4px;
  position: relative;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-gray_01);
  border-radius: 4px;
}

.agreement:checked {
  border-color: var(--color-orange);
  background-color: var(--color-orange);
}

.agreement:checked:after {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M8.26673 2.75418L3.77507 7.24585L1.7334 5.20418" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.label {
  max-width: 438px;
}

.link {
  text-decoration: underline;
}
